%body
  .main-wrapper
    = render partial: 'layouts/cta_subscribe'
    %section.blog-list.px-3.py-5.p-md-5
      .container
        .item.mb-5
          .media
            %img.mr-3.img-fluid.post-thumb.d-none.d-md-flex{:alt => "image", :src => "assets/images/blog/blog-post-thumb-1.jpg"}/
            .media-body
              %h3.title.mb-1
                %a{:href => "blog-post.html"} Why Every Developer Should Have A Blog
              .meta.mb-1
                %span.date Published 2 days ago
                %span.time 5 min read
                %span.comment
                  %a{:href => "#"} 8 comments
              .intro Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...
              %a.more-link{:href => "blog-post.html"} Read more →
        .item.mb-5
          .media
            %img.mr-3.img-fluid.post-thumb.d-none.d-md-flex{:alt => "image", :src => "assets/images/blog/blog-post-thumb-2.jpg"}/
            .media-body
              %h3.title.mb-1
                %a{:href => "blog-post.html"} A Guide to Becoming a Full-Stack Developer
              .meta.mb-1
                %span.date Published 3 months ago
                %span.time 3 min read
                %span.comment
                  %a{:href => "#"} 26 comments
              .intro Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...
              %a.more-link{:href => "blog-post.html"} Read more →
        .item.mb-5
          .media
            %img.mr-3.img-fluid.post-thumb.d-none.d-md-flex{:alt => "image", :src => "assets/images/blog/blog-post-thumb-3.jpg"}/
            .media-body
              %h3.title.mb-1
                %a{:href => "blog-post.html"} High Performance JavaScript
              .meta.mb-1
                %span.date Published 1 month ago
                %span.time 8 min read
                %span.comment
                  %a{:href => "#"} 12 comments
              .intro Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...
              %a.more-link{:href => "blog-post.html"} Read more →
        .item.mb-5
          .media
            %img.mr-3.img-fluid.post-thumb.d-none.d-md-flex{:alt => "image", :src => "assets/images/blog/blog-post-thumb-4.jpg"}/
            .media-body
              %h3.title.mb-1
                %a{:href => "blog-post.html"} Top 5 JavaScript Frameworks
              .meta.mb-1
                %span.date Published 2 months ago
                %span.time 15 min read
                %span.comment
                  %a{:href => "#"} 3 comments
              .intro Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...
              %a.more-link{:href => "blog-post.html"} Read more →
        .item.mb-5
          .media
            %img.mr-3.img-fluid.post-thumb.d-none.d-md-flex{:alt => "image", :src => "assets/images/blog/blog-post-thumb-5.jpg"}/
            .media-body
              %h3.title.mb-1
                %a{:href => "blog-post.html"} Learn React in 24 Hours
              .meta.mb-1
                %span.date Published 2 months ago
                %span.time 10 min read
                %span.comment
                  %a{:href => "#"} 23 comments
              .intro Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...
              %a.more-link{:href => "blog-post.html"} Read more →
        .item
          .media
            %img.mr-3.img-fluid.post-thumb.d-none.d-md-flex{:alt => "image", :src => "assets/images/blog/blog-post-thumb-6.jpg"}/
            .media-body
              %h3.title.mb-1
                %a{:href => "blog-post.html"} About Remote Working
              .meta.mb-1
                %span.date Published 3 months ago
                %span.time 2 min read
                %span.comment
                  %a{:href => "#"} 1 comment
              .intro Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...
              %a.more-link{:href => "blog-post.html"} Read more →
        %nav.blog-nav.nav.nav-justified.my-5
          %a.nav-link-prev.nav-item.nav-link.d-none.rounded-left{:href => "#"}
            Previous
            %i.arrow-prev.fas.fa-long-arrow-alt-left
          %a.nav-link-next.nav-item.nav-link.rounded{:href => "#"}
            Next
            %i.arrow-next.fas.fa-long-arrow-alt-right
    = render partial: 'layouts/footer'
