%section.cta-section.theme-bg-light.py-5
  .container.text-center
    %h2.heading DevBlog - A Blog Template Made For Developers
    .intro Welcome to my blog. Subscribe and get my latest blog post in your inbox.
    %form.signup-form.form-inline.justify-content-center.pt-3
      .form-group
        %label.sr-only{:for => "semail"} Your email
        %input#semail.form-control.mr-md-1.semail{:name => "semail1", :placeholder => "Enter email", :type => "email"}/
      %button.btn.btn-primary{:type => "submit"} Subscribe